/*****BG-slider*****/
.bg_spinner {
	width:100%;
	height:100%;
	position:fixed;
	z-index:9;
	background:url(images/loader.gif) 50% 50% no-repeat;
}
.pagination {
	float:right;
	padding:14px 40px 0 0;
}
.pagination li {
	float:left;
	padding-left:5px;
}
.pagination li a {
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	display:block;
	background:url(images/bg-slider-pagination.png) right top no-repeat;
	width:35px;
	height:35px;
	font-size:26px;
	line-height:1.2em;
	text-align:center;
	color:#000;
}
.pagination a:hover,  .pagination .current a {
	background-position:left top;
	color:#fff;
}
.bg-text {
	display:block;
	font-family: 'Adamina', serif;
	font-size:19px;
	line-height:2em;
	font-weight:400;
	color:#fff;
	float:right;
	margin-right:4px;
	padding-top:12px;
}
/***** slider *****/

.slider {
	position:relative;
	width:900px;
	height:250px;
	margin:0 auto 30px;
}
.items {
	display:none;
}
.banner {
	width:250px;
	height:324px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:490px;
	z-index:99;
}
.title {
	display:block;
	font-size:25px;
	line-height:2em;
}
.title strong {
	display:inline-block;
	line-height:1.5em;
	color:#d66901;
}
.title em {
	display:inline-block;
	line-height:1.5em;
	font-style:normal;
	color:#242424;
}
.banner p {
	font-family: 'Adamina', serif;
	font-size:19px;
	line-height:29px;
	color:#4d4d4d;
}
.banner-2 {
	width:227px;
	height:227px;
	background:url(images/banner-2.png) 0 0 no-repeat;
	position:absolute;
	left:240px;
	top:-7px;
	z-index:99;
}
.pags {
	position:absolute;
	top:320px;
	left:340px;
	z-index:99;
}
.pags li {
	float:left;
	padding-right:2px;
}
.pags li a {
	display:block;
	width:23px;
	height:23px;
	text-indent:-9999px;
	background:url(images/pags.png) right top no-repeat;
	cursor:pointer;
}
.pags li a:hover,  .pags li.current a {
	background-position:left top;
}
.pags li.current a {
	cursor:default;
}